<?xml version='1.0' encoding='UTF-8'?>
<beans xmlns='http://www.springframework.org/schema/beans'
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:schemaLocation='http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd'>
	<bean id='persoonViewer' class='be.vdab.PersoonViewer'>
		<constructor-arg>
			<list>
				<value>VOORNAAM</value>
				<value>FAMILIENAAM</value>
				<value>AANTAL_KINDEREN</value>
			</list>
		</constructor-arg>
	</bean>
	<bean id='CSV' class='be.vdab.repositories.PersoonRepositoryCSV'>
		<constructor-arg value='c:/TestFiles/personen.csv' />
	</bean>
	<bean id='meerdereRegels' class='be.vdab.repositories.PersoonRepositoryMeerdereRegels'>
		<constructor-arg value='c:/TestFiles/personen.txt' />
	</bean>
	<bean id='persoonService' class='be.vdab.services.PersoonServiceImpl'>
		<constructor-arg ref='meerdereRegels' />
	</bean>
</beans>